@font-face {
  font-family: "myFont";
  src: url("./Montserrat/Montserrat-Regular.ttf");
}

.App {
  text-align: center;
  font-family: myFont;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
}

#signup-btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#1cc29f;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

#signup-btn:hover {
  background-color: #1cc29f;
  transform: translateY(3px);
  box-shadow:none;

}


#login-btn{
  text-decoration: none;
  color: #1cc29f;
  padding: 0px 12px;
}

#login-btn-container{
  vertical-align: middle;
}
#log-sign-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#login-body{
  background-color: rgba(4, 160, 74, 0.342);
  background-image: url("https://assets.splitwise.com/assets/core/facets.png");

}

#login-container{
  margin:0px 49px;
  padding:32px 16px;
  left:50%;
  /* background-color: orange; */
}



#login-content{
  margin-bottom: 32px;
  padding: 32px 16px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
  width:50%
  
  /* display: flex;
  flex-direction: column; */
  /* text-align: left; */
}
@media only screen and (max-width:700px){
  #login-content{
    width:100%;
  }  
}

#login-submit-btn{

  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#18a582;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
  width: 100%;
  margin-bottom: 24px;
}

#login-submit-btn:hover {
  background-color: #1cc29f;
  transform: translateY(3px);
  box-shadow:none;
}
#login-label{
  font-size: 28px;
  margin-bottom: 16px;
  text-align: left;
}
#email-lbl,#password-lbl{
margin-bottom: 0px;
text-align: left;
}
#email-inpt,#pswd-inpt{
font-size: 16px;
}
#frgt-passwd{
  padding:8px 0px 8px 0px;
  text-decoration: none;
  color: #18a582;
  font-weight: 600;
}
#or{
  display:flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

#hr1,#hrt2{
  width:40px;
}  

#sign-in-with-google-container{
  padding-top:16px;
  padding-bottom:24px;
  font-size: 16px;
}

#sign-in-with-google-btn{
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0 2px rgb(55 59 63 / 50%);
  width: 100%;
  font-weight: 600;
}

#sign-in-with-google-btn:hover {
  transform: translateY(3px);
  box-shadow:none;
}

#login-form-wrap{
  text-align: left;
}

#kam-size{
  display: flex;
  justify-content: center;
}

#split-wise-logo-signup{
  width:200px;
  height: 200px;
  margin-right: 5px;
}
@media only screen and (max-width:600px){
  #hide-karo-on-phone{
    display: none;
  }

}

 #signup-main{
  margin-top: 10%;
  margin-left:10%;
}
@media only screen and (max-width:500px){
  #split-wise-logo-signup{
    width:100px;
    height:100px;
  }
  #signup-main{
  
    margin-top: 10%;
    margin-left:0;
  }
}

#signup-wrapper{
  /* transform: translate(50%,50%);  */
  height:100%;
  display: flex;
  flex-direction: row;
  /* padding: relative; */
}
#sigup-content{
  display: flex;
  flex-direction: column;
  text-align: left;
}

#intro-label{
  font-size: 16px;
  text-align: left;
  color: #999;
  font-weight: bold;
  line-height: 20px;
}
#signup-name-lbl{
  margin-top:16px;
  margin-bottom: 5px;
  font-size: 24px;
}

#signup-email-lbl,#signup-pswd-lbl{
font-size: 18px;
}

#name-signup-inpt{
  height: 42px;
  font-size: 32px;
  border:1px solid #cccccc;
  padding:4px;
  margin-bottom: 17px ;
}
#email-signup-inpt,#password-signup-inpt{
  /* width:96%; */
  height:28px;
  margin-bottom:17px;
  font-size:20px;
}

#sign-up-with-google-btn{
  display: inline-block;
  padding: 4px 6px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #777;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0 2px rgb(55 59 63 / 50%);
  font-weight:400;
}

#sign-up-with-google-btn:hover {
  transform: translateY(3px);
  box-shadow:none;
}

#signup-google-btn-container{
display: flex;
flex-direction: row;
align-content: center;
justify-content: space-between;
}

#or-signup{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
#or-signup p{
  margin-right: 20px;
  align-self: center;
}

#signupform-btn{
background-color: #ff652f;
text-shadow:0 -1px 0 #c83400;
}

.signupform-btn:link { text-decoration: none; }
.signupform-btn:visited { text-decoration: none; }
.signupform-btn:hover { text-decoration: none; }
.signupform-btn:active { text-decoration: none; }

#signupform-btn:hover{
  background-color: #c43400;
}

.core-icon {
  background-image: url("https://assets.splitwise.com/assets/core/core-feature.svg");
  width: 21px;
  height: 21px;
  min-width: 21px;
  min-height: 21px;
}
.signup-home{
  box-shadow: 0 2px white;
  color:white;
}

.signup-home:hover{
  transform: translateY(3px);
  box-shadow:none;
}
#bgi{
  background-image :url('https://assets.splitwise.com/assets/core/facets.png');
}

#icon-img-home{
  background-image: url("https://assets.splitwise.com/assets/core/core-feature.svg");
}

.home-card{
  box-shadow: 0 2px rgb(55 59 63 / 50%);
}
.home-card:hover{
  transform: translateY(3px);
  box-shadow: none;
}

.home-card-icon{
    height: 50px;
    width: 50px;
    object-fit: contain; 
}

.remove-link-decoration:link { text-decoration: none; }
.remove-link-decoration:visited { text-decoration: none; }
.remove-link-decoration:hover { text-decoration: none; }
.remove-link-decoration:active { text-decoration: none; }

.download-app{
  height: 50px;
  width: 141px;
}